<html>
<head>
  <title>Events List</title>
</head>
<body>
  <br>
  <div class="row">
    <div class="col-12">
      <h4 class="col-11">If you want to add new event, Click here -> <a routerLink="/home/add-event"><i class="fas fa-edit"></i></a></h4>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      Enter a EventName: <input type="text" id="eventName" #eventName class="form-control" autocomplete="off" required>
      <button class="btn btn-info my-2" type="submit" (click)="getEventByName(eventName.value)">Event By Name</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Enter a value to delete: <input type="number" id="deleteId" #deleteId class="form-control">
      <button class="btn btn-danger my-2" type="submit"  (click)="onDelete(deleteId.value)">Delete Event</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div *ngFor="let e of eventsList" class="list-group-item">
          <h4 class="d-inline list-group-item-heading">Event Id: {{e.eventId}}</h4><br />
          <h4 class="list-group-item-text">Event Name: {{e.eventName}}</h4>
          <h5 class="list-group-item-heading">Event Date: {{e.date|date}}</h5>
          <p class="list-group-item-text">No Of Slots: {{e.noOfSlots}}</p>
          <p class="list-group-item-text">Sports Name: {{e.sport.sportName}}</p>
        </div>
    </div>
  </div>
  <hr />
  
</body>
</html>
